body { background-color: #ecf0f1; }
.menu li[aktif=ya] {
	border-bottom: 1px solid #fff;
}
.atas {
	position: fixed !important;
	background-color: #cb0029 !important;
}
.container,.kiri {
	top: 72px;
}
.container { top: 95px; }
/*.list {
	width: 47%;
	margin: 5px 10px;
	margin-bottom: 30px;
	height: 300px;
	cursor: default;
	position: relative;
	z-index: 1;
}
.list .bgImage {
	height: 300px;
	background-size: 100px 300px;
}
.list a {
	text-decoration: none;
	color: #fff;
}
.list .ket {
	position: static;
	margin-top: -250px;
	height: 250px;
	background: rgba(0,0,0,0.45);
	z-index: 5;
}
.ket #keterangan { margin-top: 45%; }*/
.container .grid a { color: #454545;text-decoration: none; }
.tgl {
	margin-top: -22px;
	position: relative;
	top: -125px;
	float: right;
}
.atas { position: absolute; }
#subCity { top: -2500px;position: absolute;right: 8.5%;transition: 0.5s; }
.atas:hover { background: #cb0029;border: none; }
.atas:hover .sub { background: #cb0029;border: none; }
#adaSub:hover #subCity { top: 80px; }

#subCity li {
	float: none;
	transition: 0.5s;
	line-height: 55px;
}
#subCity li:hover {
	background-color: #444;
}
#subUser { right: 6.5%;width: 17.5%; }
.grid:after {
	content: '';
	display: block;
	clear: both;
}
.grid-sizer,.grid-item { width: 46.5%; }
.grid-item {
	border: 1px solid #ddd;
	float: left;
	margin-bottom: 15px;
	margin-right: 15px;
	background-color: #fff;
}
.grid-item .beges { height: 250px; }
.grid-item .begeneBege {
	background: rgba(0,0,0,0.4);
	min-height: 250px;
	margin-top: -250px;
}
.grid-item .hosted { height: 55px; }
.grid-item .hosted img {
	height: 40px;
	height: 40px;
	border-radius: 50px;
	float: left;
}
.grid-item .hosted #namaHotel {
	float: left;
	margin-left: 5%;
	margin-top: 12px;
}
@media (max-width: 720px) {
	.list {
		float: none;
		width: 94%;
		margin-bottom: 55px;
	}
	.tgl { margin-top: 0px;top: -110px; }
}